<style>
      main {
        margin-bottom: 200%;
      }

      .floating-menu1 {
        font-family: sans-serif;
        background: #e62e9f;
        padding: 15px;
        width: 230px;
        z-index: 100;
        position: fixed;
        top: 150px;
        right: 10px;
        border-radius: 15px;
      }

      .floating-menu2 {
        font-family: sans-serif;
        background: #e62e9f;
        padding: 15px;
        width: 230px;
        z-index: 100;
        position: fixed;
        top: 250px;
        right: 10px;
        border-radius: 15px;
      }

      .floating-menu3 {
        font-family: sans-serif;
        background: #e62e9f;
        padding: 15px;
        width: 230px;
        z-index: 100;
        position: fixed;
        top: 350px;
        right: 10px;
        border-radius: 15px;
      }

      .floating-results {
        font-family: sans-serif;
        background: #299e23;
        padding: 15px;
        width: 230px;
        z-index: 100;
        position: fixed;
        top: 500px;
        right: 10px;
        border-radius: 15px;
      }

      .floating-results h2 {
        color: white
      }

      .floating-menu1 a,
      .floating-menu1 h3 {
        font-size: 1.2em;
        display: block;
        margin: 0 0.5em;
        color: white;
      }

      .floating-menu2 a,
      .floating-menu2 h3 {
        font-size: 1.2em;
        display: block;
        margin: 0 0.5em;
        color: white;
      }

      .floating-menu3 a,
      .floating-menu3 h3 {
        font-size: 1.2em;
        display: block;
        margin: 0 0.5em;
        color: white;
      }

      .floating-results a,
      .floating-results h3 {
        font-size: 1.2em;
        display: block;
        margin: 0 0.5em;
        color: white;
      }


      table {
        text-align: left;
        font-size: 0.9em;
        display: block;
        margin: 0 0.5em;
        color: white;
      }

    body {
      font-family: Helvetica Neue, Arial, sans-serif;
      text-align: center;
    }

    .wrapper {
      max-width: 800px;
      margin: 50px auto;
    }

    h1 {
      font-weight: 200;
      font-size: 3em;
      margin: 0 0 0.1em 0;
    }

    h2 {
      font-weight: 200;
      font-size: 2.2em;
      margin: 0 0 50px;
      color: #999;
    }

    a {
      margin-top: 50px;
      display: block;
      color: #3e95cd;
    }
</style>